{{ ansible_managed | comment }}
framework.server.name = {{ rundeck_framework_server_name }}
framework.server.hostname = {{ rundeck_framework_server_hostname }}
framework.server.port = {{ rundeck_framework_server_port }}
framework.server.url = {{ rundeck_framework_server_url }}:{{ rundeck_framework_server_port }}

rdeck.base={{ rundeck_base }}

framework.projects.dir=/var/rundeck/projects
framework.etc.dir={{ rundeck_root_dir }}
framework.var.dir={{ rundeck_base }}/var
framework.tmp.dir={{ rundeck_base }}/var/tmp
framework.logs.dir={{ rundeck_base }}/logs
framework.libext.dir={{ rundeck_base }}/libext

framework.ssh.keypath = {{ rundeck_framework_ssh_keypath }}
framework.ssh.user = {{ rundeck_framework_ssh_user }}

framework.ssh.timeout = 0

{% if rundeck_framework_tokens != [] %}
rundeck.tokens.file={{ rundeck_framework_tokens_path }}/{{ rundeck_framework_tokens_file }}
{% endif %}

rundeck.server.uuid = {{ rundeck_server_uuid }}